<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wjsay.main.StudentMapper">
    <select id="queryStudentBySno" resultType="Student" parameterType="String">
        select * from student where sno = #{sno}
    </select>
</mapper>